{% extends "master.html" %}
{% load static %}
{% block content %}
    <section class="section-about container">
      <div class="about-container">
        <div class="content-section">
          <div class="title">
            <h1>About Us</h1>
          </div>
          <div class="content">
            <h3>Your Trusted Real Estate Platform in Afghanistan and Tajikistan.</h3>
            <p>
                Welcome to Find Your Haven, the premier real estate website created by Yusof, a talented web developer and professional graphic designer. Originally hailing from Afghanistan, Yusof now resides in Tajikistan, bringing his expertise and passion for real estate to both countries. With 2 years of engineering experience under his belt, Yusof has crafted Find Your Haven to be a trusted and user-friendly platform for individuals seeking their dream homes in Afghanistan and Tajikistan.
            </p>
            <div class="about-btn">
              <a href="">readmore</a>
            </div>
          </div>
          <div class="social">
            <a href="https://www.facebook.com/yusof0090"
              ><i class="bx bxl-facebook-circle"></i
            ></a>
            <a href="https://www.instagram.com/yusof_0090/"
              ><i class="bx bxl-instagram-alt"></i
            ></a>
          </div>
        </div>
        <div class="image-section img1">
          <img src="{% static '/img/Yusof.jpg' %}" alt="" />
        </div>
        <div class="image-section img2"><h1>YUSOF Shokohyan</h1></p></div>
      </div>
    </section>
{% endblock %}
