{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Find Your Haven!</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />

    <!-- boxicon links -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
  </head>
  <body>
    <header>
      <div class="nav container">
        <a href="/" class="logo"
          ><box-icon name="home" class="bx bx-home"></box-icon>
          <h1 id="haven">FY-Haven</h1></a
        >
        <input type="checkbox" id="menu" />
        <label for="menu"> <i class="bx bx-menu" id="menu-icon"></i></label>
        <ul class="navbar">
          <li><a href="/sale/">sale</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/contact/">Contact Us</a></li>
        </ul>
        <a href="/" class="btn">Home</a>
      </div>
    </header>
    {% block content %} {% endblock %}
    <!-- <section class="footer">
        <div class="footer-container" class="container">
          <h2>Yusof Shokohyan</h2>
          <div class="footer-box">
            <h3>Quick Links</h3>
            <a href="">Agency</a>
            <a href="">Building</a>
            <a href="">Rates</a>
          </div>
          <div class="footer-box">
            <h3>Locations</h3>
            <a href="">Afghanistan</a>
            <a href="">Tajikistan</a>
          </div>
          <div class="footer-box">
            <h3>Contact</h3>
            <a href="">+992 550-37-4242</a>
            <a href="">Yusof.shokohyan4@gmail.com</a>
            <div class="social">
              <a href="https://www.facebook.com/yusof0090"
                ><i class="bx bxl-facebook-circle"></i
              ></a>
              <a href="https://www.instagram.com/yusof_0090/"
                ><i class="bx bxl-instagram-alt"></i
              ></a>
              <a href=""><i class="bx bxl-twitter"></i></a>
            </div>
          </div>
        </div>
        <div class="copyright">
          <p>&#169; Yusof Shokohyan All Right Reserved</p>
        </div>
    </section> -->
  </body>
</html>
